
2018-08_intro/geosoft2-2018-intro-slides\.html

2018-08_intro/geosoft2-2018-intro\.pdf

2018-08_intro/\.Rhistory

2018-10-10_meeting/\.Rhistory

*.html

**/*slides_files/*
\.Rproj\.user
\.Rproj\.user/**

\.Rhistory
